<!doctype html>
<html class="no-js" lang="zxx">
@using DTO
@{ 
    var layoutdto = (HomeLayoutDTO)ViewData["LayoutDTO"];
    List<CategoryDTO> categories = layoutdto.Categories;
    List<MetaDTO> metalist = layoutdto.Metalist;
    List<PostDTO> hotnews = layoutdto.HotNews;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ATP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @foreach (var item in metalist)
    {
        <meta name="@item.Name" content="@item.MetaContent">
    }
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link href="~/Content2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content2/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content2/css/slicknav.css" rel="stylesheet" />
    <link href="~/Content2/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content2/css/progressbar_barfiller.css" rel="stylesheet" />
    <link href="~/Content2/css/gijgo.css" rel="stylesheet" />
    <link href="~/Content2/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content2/css/animated-headline.css" rel="stylesheet" />
    <link href="~/Content2/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content2/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content2/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content2/css/slick.css" rel="stylesheet" />
    <link href="~/Content2/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content2/css/style.css" rel="stylesheet" />
    <link href="~/Content2/toastr/toastr.css" rel="stylesheet" />
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-lg-between align-items-center">
                                <div class="header-info-left">
                                    <li class="d-none d-lg-block">
                                        <div class="form-box f-right">
                                            <form action="/search2" method="post">
                                                <input type="search" name="SearchText" placeholder="Search...">
                                                <button type="submit" class="search-icon">
                                                    <i class="ti-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                </div>
                                <div class="header-info-mid">
                                    <!-- logo -->
                                    <div class="logo">
                                        <a href="@Url.RouteUrl("Home")"><img src="~/Content2/img/logo/allthingscode logo.png" /></a>                                       
                                    </div>
                                </div>                                                              
                                <div class="header-info-right d-flex align-items-center">
                                    <ul>
                                        <li><a href="@Url.RouteUrl("Home")">Home</a></li>
                                        <li><a href="/contactpage">Contact</a></li>
                                        <li><a href="/Admin/Login/Index">Log In</a></li>
                                    </ul>
                                    <!-- Social -->
                                    @*<div class="header-social">
                                        <a href="@layoutdto.Facebook.Link" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="@layoutdto.X.Link" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="@layoutdto.Instagram.Link" target="_blank"><i class="fa fa-instagram"></i></a>
                                        <a href="@layoutdto.LinkedIn.Link" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <!-- logo 2 -->
                                <div class="logo2">
                                    <a href="@Url.RouteUrl("Home")"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                                <!-- logo 3 -->
                                <div class="logo3 d-block d-sm-none">
                                    <a href="@Url.RouteUrl("Home")"><img src="assets/img/logo/logo-mobile.png" alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu text-center d-none d-lg-block">
                                    <nav>
                                        <ul>
                                            @foreach (var item in categories)
                                            {
                                                <li><a href="@Url.RouteUrl("Category", new {@CategoryName=BLL.SeoLink.GenerateUrl(item.CategoryName)})">@item.CategoryName</a></li>
                                            }
                                            <li><a href="@Url.RouteUrl("Category", new {@CategoryName="video"})">Videos</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    @RenderBody()
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-top d-lg-block d-none">
                        <div class="container">
                            <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left d-flex justify-content-center">
                                        <!-- Social -->
                                        @*<div class="header-social">
                                            <a href="@layoutdto.Facebook.Link" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="@layoutdto.X.Link" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="@layoutdto.Instagram.Link" target="_blank"><i class="fa fa-instagram"></i></a>
                                            <a href="@layoutdto.LinkedIn.Link" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </div>*@
                                    </div>
                                    <div class="header-info-mid">
                                        <!-- logo -->
                                        <div class="logo">
                                            <a href="@Url.RouteUrl("Home")"><img src="assets/img/logo/logo.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom header-bottom2 ">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <!-- Main-menu -->
                                    <div class="main-menu text-center">
                                        <nav>
                                            <ul>
                                                @foreach (var item in categories)
                                                {
                                                    <li><a href="@Url.RouteUrl("Category", new {@CategoryName=BLL.SeoLink.GenerateUrl(item.CategoryName)})">@item.CategoryName</a></li>
                                                }
                                                <li><a href="@Url.RouteUrl("Category", new {@CategoryName="video"})">Videos</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="~/Content2/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content2/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content2/js/popper.min.js"></script>
    <script src="~/Content2/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content2/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content2/js/owl.carousel.min.js"></script>
    <script src="~/Content2/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content2/js/wow.min.js"></script>
    <script src="~/Content2/js/animated.headline.js"></script>
    <script src="~/Content2/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/Content2/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/Content2/js/jquery.nice-select.min.js"></script>
    <script src="~/Content2/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="~/Content2/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/Content2/js/jquery.counterup.min.js"></script>
    <script src="~/Content2/js/waypoints.min.js"></script>
    <script src="~/Content2/js/jquery.countdown.min.js"></script>
    <script src="~/Content2/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/Content2/js/contact.js"></script>
    <script src="~/Content2/js/jquery.form.js"></script>
    <script src="~/Content2/js/jquery.validate.min.js"></script>
    <script src="~/Content2/js/mail-script.js"></script>
    <script src="~/Content2/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content2/js/plugins.js"></script>
    <script src="~/Content2/js/main.js"></script>

    <script src="~/Content/toastr/toastr.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var result = "@ViewData["CommentState"]";
        if (result != "") {
            if (result == "Success") {
                toastr.success(result);
            }
            else {
                toastr.error(result);
            }
        }
    });
    </script>
</body>
</html>